body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(7, 6, 6);
  color: #eee;
  margin: 25px;
}
header h1{
  color: rgb(228, 150, 4);

}
li:hover{
  color: rgb(228, 150, 4);
}
a{
  text-decoration: none;
  color: rgb(228, 150, 4);
}
header nav{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
nav ul{
  display: flex;
}
ul li{
  margin-right: 30px;
  list-style-type :none
  

}
#filter-movies h2{
  display: flex;
  justify-content: center;

}
.filterN {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
}
.filterN select{
  width: 100px;
  height: 30px;
}
#intro #img-container img {
  width: 100%;
  height: 550px;
  opacity: .4;

}
#intro{
  position: relative;

}
#search{
  position: absolute;
margin-top: -400px;
margin-left: 600px;
text-align: center;
 
}

#search h2{
  margin-bottom: 40px;
}
 input[type=text] {
 border:2px solid rgb(228, 150, 4);
 border-radius: 8px;
  color: black;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
#details h2{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
#details h2 span{
  color: rgb(228, 150, 4);
  margin-left: 8px;
}
.details{
  margin-top: 20px;
  display: flex;
  margin-bottom: 70px;
 
}
.details div{
  margin-right: 50px;
}
.card-container{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;

}
.card-container .card{
  border: 1px solid rgb(228, 150, 4);
  border-radius: 8px;
  margin: 2px;
  padding: 5px;
  width: 250px;
  height: 450px;
}
.imgCard{
  padding: unset;
  width: 250px;
  border-radius: 8px;
height: 300px;
}
.card .card-1{
  margin-bottom: 10px;

}
.card-container .card-info{
  margin-top: 10px;
  padding-left: 5px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#svgC{
  cursor: pointer;
}